<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{% if article %} {{ article.title }} - {% endif %}{{ site.title }}{% unless article %} - {{ site.subtitle }} {% endunless %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="generator" content="Mephisto" />
	{{ 'style' | stylesheet }}
	{{ site.home_section | articles_feed }}
	{{ 'jquery-1_2_6_min' | javascript }}
	{{ 'functions.js' | javascript }}
	{{ 'shCore' | stylesheet }}
	{{ 'shThemeDefault' | stylesheet }}
	{{ 'shCore' | javascript }}
	<!-- Include the brushes for Syntax Highlighter Support. Other brushes are available in the javascripts directory. -->
	{{ 'shBrushVb' | javascript }}
	{{ 'shBrushCSharp' | javascript }}
	{{ 'shBrushRuby' | javascript }}
	{{ 'shBrushPlain' | javascript }}
	<script type="text/javascript">
		SyntaxHighlighter.all();
	</script>
</head>
<body>
<div id="wrapper">
	<div id="masthead" class="fix">
		<h1><a href="/">{{ site.title }}</a></h1>
		<div id="blogLead">
			{{ 'avatar.png' | img_tag }}
			<p id="authorIntro">{{ site.subtitle }}</p>
		</div>
	</div>

	{% include 'navigation_strip' %}

	{{ content_for_layout }}

	{% include 'footer_strip' %}
	<div id="footer" class="fix">
		<p class="left"><a href="http://5thirtyone.com/grid-focus" title="Grid Focus by: Derek Punsalan">Grid Focus</a> by Derek Punsalan <a href="http://5thirtyone.com">5thirtyone.com</a>.</p>
		<p class="right">Whitespace</p>
	</div>
</div>
</body>
</html>