<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>{{ site.title }} {% if article %} {{ article.title }} {% else %} {{ site.subtitle }} {% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="generator" content="Mephisto" />
	{{ 'style' | stylesheet }}
	{{ site.home_section | articles_feed }}
	{{ 'jquery-1_2_6_min' | javascript }}
	{{ 'functions.js' | javascript }}
</head>
<body>
<div id="wrapper">
	<div id="masthead" class="fix">
		<h1><a href="/">{{ site.title }}</a></h1>
		<div id="blogLead">
			{{ 'avatar.png' | img_tag }}
			<p id="authorIntro">{{ site.subtitle }}</p>
		</div>
	</div>
	
	{% include 'navigation_strip' %}

	{% include 'footer_strip' %}
	<div id="footer" class="fix">
		<p class="left"><a href="http://5thirtyone.com/grid-focus" title="Grid Focus by: Derek Punsalan">Grid Focus</a> by Derek Punsalan <a href="http://5thirtyone.com">5thirtyone.com</a>.</p>
		<p class="right">Whitespace</p>
	</div>
</div>
</body>
</html>